
.heading{
  font-size: 25px;
  margin-top: 10%;
  margin-left: 30%;
  color: rgb(14, 3, 173);
}

.roomDetails{
  width: 40%;
  margin-left: 30%; 
  border: 0px solid rgba(0, 0, 0, 0);
  color: rgb(14, 3, 173);
}
.list-row{
border: 1px solid;
padding: 5%;
text-transform: uppercase;
}

.item{
  padding-left: 2%;
  font-weight: 600;
  /* color: rgb(14, 3, 173); */
}

  .roomCount {
  float: inline-start;
  /* display: inline; */
  margin-left:50%;
} 
.number{
  display: inline;
  font-size: 20px;
  padding:4%;
  color: rgb(14, 3, 173);
}

button{
  border: none;
  background-color: white;
  color: rgb(14, 3, 173);
}

.plus{
color:rgb(255, 72, 51);
}

